<template>
  <header>
      <div>
          <h1 class="hola">
              Título Web Vue
              
          </h1>
          {{variableOculta}}
          <br>{{nombre.toUpperCase()}}
      </div>
  </header>
</template>

<script>
export default {

  data() {
  return{
    variableOculta : "Variable oculta",
    nombre : "Chino terremoto"
  }
}
}
</script>

<style>
    .hola{

    }
</style>