<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
   <div id="hola" class="hola">
     Algo oculto 
   </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
div {
  margin: 40px 0 0;
  background-color: lightcyan;
}
.hola{
  border: solid 2px lightcoral;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
