<template>
<div>
<Calculadora v-if="calculadora"/>
<Login v-if="login"/>
<hr>
    <button @click="calculadora = !calculadora, login = !login" v-if="!calculadora">Calculadora</button>
    <button @click="login = !login, calculadora = !calculadora" v-if="!login">Login</button>
    <hr>
    <ul>
      <li v-for="heroe in pruebaHeroes" :key="heroe.id">
        {{heroe.nombre}}
      </li>

    </ul>
</div>
</template>

<script>
import Ejemplo from './components/Ejemplo';
import Calculadora from './components/Calculadora';
import Login from './components/Login';
export default {
  name: 'App',
  components: {
    Ejemplo,
    Calculadora,
    Login,
    
  },data() {
    return {
      calculadora: true,
      login: false,
      pruebaHeroes : []
    };
  },
  beforeCreate(){
    let prometemeHeroes = fetch("http://localhost:8080/api/heroes");
    
    //Asincronamente (En un rato) recibiremos el json en una callback
    prometemeHeroes.then((respuestaHttp) => {
      return respuestaHttp.json();
      
    }).then((datos) =>{
      console.log(datos);
        this.pruebaHeroes = datos;
    })
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
