<template>
  <div >
      <br />
      <input
        type="number"
        name="primerNumero"
        id="primerNumero"
        v-show="!sumado"
        v-model.number="numero1"
      />
      <br />
      <input
        type="number"
        name="segundoNumero"
        id="segundoNumero"
        v-show="!sumado"
        v-model.number="numero2"
      />
      <br />
      <button v-if="!sumado" @click="sumarNumeros(numero1, numero2)">
        Sumar Numeros
      </button>

      <p v-if="sumado">La suma es: {{ suma }}</p>

      <button v-if="sumado" @click="resetearSumar()">Volver a sumar</button>
    </div>

</template>

<script>
export default {
    name: 'Calculadora',
 data() {
    return {
      sumado: false,
      numero1: 0,
      numero2: 0,
      suma: 0,
    };
  },
  methods: {
    sumarNumeros(numero1, numero2) {
      this.suma = this.numero1 + this.numero2;
      console.log(this.numero1 + this.numero2);
      this.sumado = true;
    },

    resetearSumar() {
      this.suma = 0;
      this.sumado = false;
    },
  },
}
</script>

<style>

</style>