<template>
  <div>
    <hr>
    <button @click="calculadora = !calculadora, login = !login" v-if="!calculadora">Calculadora</button>
    <button @click="login = !login, calculadora = !calculadora" v-if="!login">Login</button>
  </div>
</template>

<script>


export default {
  name: "EjemploVue",
  components: {
      
  }
};
</script>

<style>
</style>