<template>
  <div >
      <br />
      <input
        type="text"
        name="NombreUsuario"
        id="NombreUsuario"
        placeholder="Introduzca su nombre de usuario"
        size="40"
        v-model="nombreUsuario"
      />
      <br />
      <input
        type="password"
        name="contrasenia"
        id="contrasenia"
        v-model="contrasenia"
        size="40"
        placeholder="Introduzca la contraseña"
      />
      <br />
        <button value="Login" @click="comprobarDatos"> Iniciar Sesion</button>
    </div>

    
</template>

<script>
export default {
name: "Login",
}
</script>

<style>

</style>