<template>
  <div id="app">
        <CompChino/>
    <img alt="Vue logo" src="./assets/logo.png">
    <HolaComp msg="Bienvenido a tu Vue.js App"/>
  </div>
</template>

<script>
import HolaComp from './components/HolaMundo.vue';
//Este es el Header, que lo llamo como me da la gana
import CompChino from './components/Header';

export default {
  name: 'App',
  components: {
    HolaComp,
    CompChino
  }
}
</script>

<style lang="scss">
@import "./assets/estilos.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.hola{
  background-color: red;
}
</style>
